* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
h1 {
  color: #fff;
  font-size: 40px;
  line-height: 1;
  margin: 0px 0px 50px 0px;
}

h2 {
  color: #fff;
  font-size: 30px;
  line-height: 1;
  margin: 0px 0px 20px 0px;
}

.wrapper {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(100px, auto) 1fr minmax(70px, auto);
  -ms-grid-columns: 1fr;
      grid-template: minmax(100px, auto) 1fr minmax(70px, auto)/1fr;
      grid-template-areas: "header" "main" "footer";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background: #744d48;
  padding: 15px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}

.header__logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-animation-name: gosha;
          animation-name: gosha;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.header__logo img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  opacity: 0.6;
}

@-webkit-keyframes gosha {
  0% {
    background-color: #ff0099;
  }
  20% {
    background-color: #da3d0d;
  }
  40% {
    background-color: #ffff00;
  }
  60% {
    background-color: #156815;
  }
  80% {
    background-color: #00ccff;
  }
  100% {
    background-color: #711091;
  }
}

@keyframes gosha {
  0% {
    background-color: #ff0099;
  }
  20% {
    background-color: #da3d0d;
  }
  40% {
    background-color: #ffff00;
  }
  60% {
    background-color: #156815;
  }
  80% {
    background-color: #00ccff;
  }
  100% {
    background-color: #711091;
  }
}

.header__menu {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.header__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
}

.header__link {
  color: #fff;
  font-size: 22px;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  background: -webkit-gradient(linear, left top, left bottom, from(#313131), to(#302f41));
  background: linear-gradient(to bottom, #313131, #302f41);
  padding: 30px 15px;
}

@media (min-width: 540px) {
  .galery__item_big {
    grid-column: span 1;
    grid-row: span 1;
  }
}

@media (min-width: 992px) {
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
        grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  }
  .galery__items .aaa {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
  }
  .content {
    padding: 0 0 0 30px;
  }
}

.sidebar {
  margin: 0 0 25px 0;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background: -webkit-gradient(linear, left top, left bottom, from(#6d4848), to(#754972));
  background: linear-gradient(#6d4848, #754972);
}

.sidebar__list {
  padding: 45px 30px;
}

.sidebar__list li {
  margin: 0 0 30px 0;
}

.sidebar__link {
  color: #fff;
  font-size: 20px;
  text-decoration: underline;
}

.content {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.galery {
  display: -ms-grid;
  display: grid;
  margin: 0 0 30px 0;
}

.galery__items {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.galery__item {
  position: relative;
  padding: 0 0 85% 0;
}

.galery__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.galery__item_big {
  grid-column: span 2;
  grid-row: span 2;
}

.products__items {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 50px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.products__item {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-template: auto 1fr minmax(40, auto);
}

.products__item a {
  color: #fff;
}

.product__image {
  position: relative;
  padding: 0 0 95% 0;
  margin: 0 0 20px 0;
}

.product__image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__name {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 25px 0;
}

.prodect__buy {
  padding: 14px 20px;
  -ms-grid-column-align: start;
      justify-self: start;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#884983), to(#74ff));
  background: linear-gradient(to right, #884983, #74ff);
}

.footer {
  -ms-grid-columns: 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
      grid-template-columns: 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background: #4a3350;
}

.footer img {
  -ms-grid-column-align: end;
      justify-self: end;
  position: relative;
  top: 20px;
  left: -15px;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  width: 35px;
  height: 30px;
}

.footer__copy {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding: 30px 0 0 10px;
  color: #fff;
  font-size: 14px;
}
