@import "null.scss";

h1 {
   color: #fff;
   font-size: 40px;
   line-height: 1;
   margin: 0px 0px 50px 0px;
}
h2 {
   color: #fff;
   font-size: 30px;
   line-height: 1;
   margin: 0px 0px 20px 0px;
}
.wrapper {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   min-height: 100vh;
   display: grid;
   grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
   grid-template-areas:
      "header"
      "main"
      "footer";
}

.header {
   grid-area: header;
   background: rgb(116, 77, 72);
   padding: 15px;
   display: grid;
   align-items: center;
   grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}

.header__logo {
   grid-column: 2/3;
   width: 70px;
   height: 70px;
   border-radius: 50%;
   animation-name: gosha;
   animation-iteration-count: infinite;
   animation-duration: 8s;
   animation-direction: alternate;
   animation-timing-function: linear;
   img {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      opacity: 0.6;
   }
}
@keyframes gosha {
   0% {
      background-color: #ff0099;
   }
   20% {
      background-color: #da3d0d;
   }
   40% {
      background-color: #ffff00;
   }
   60% {
      background-color: #156815;
   }
   80% {
      background-color: #00ccff;
   }
   100% {
      background-color: #711091;
   }
}
.header__menu {
   grid-column: 3/4;
}
.header__list {
   display: grid;
   grid-auto-flow: column;
   justify-items: end;
}
.header__link {
   color: #fff;
   font-size: 22px;
}

.main {
   grid-area: main;
   background: linear-gradient(to bottom, rgb(49, 49, 49), rgb(48, 47, 65));
   padding: 30px 15px;
}

@media (min-width: 992px) {
   .main {
      display: grid;
      grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
   }
  
.sidebar {
   margin: 0 0 25px 0;
   grid-column: 2/3;
   background: linear-gradient(rgb(109, 72, 72), rgb(117, 73, 114));
}
.sidebar__menu {
}
.sidebar__list {
   padding: 45px 30px;
   li {
      margin: 0 0 30px 0;
   }
}
.sidebar__link {
   color: #fff;
   font-size: 20px;
   text-decoration: underline;
}

.content {
   grid-column: 3/4;
   padding: 0 0 0 30px;
}
.content__galery {
}
.galery {
   display: grid;
   margin: 0 0 30px 0;
}
.galery__title {
}
.galery__items {
   display: grid;
   gap: 10px;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   
}
.galery__item {
   position: relative;
   padding: 0 0 85% 0;
   img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}
.galery__item_big {
   grid-column: span 2;
   grid-row: span 2;
}

.conten__products {
}
.products {
}
.products__title {
}
.products__items {
   display: grid;
   column-gap: 30px;
   row-gap: 50px;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.products__item {
   a {
      color: #fff;
   }
   display: grid;
   grid-auto-flow: row;
   grid-template: auto 1fr minmax(40, auto);
}
.product__image {
   position: relative;
   padding: 0 0 95% 0;
   margin: 0 0 20px 0;
   img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
   }
}
.product__name {
   color: #fff;
   font-size: 20px;
   line-height: 26px;
   margin: 0 0 25px 0;
}
.prodect__buy {
   padding: 14px 20px;
   justify-self: start;
   text-transform: uppercase;
   letter-spacing: 2px;
   background: linear-gradient(to right, rgb(136, 73, 131), #74ff);
}

.footer {
   grid-template-columns: 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
   display: grid;
   grid-auto-flow: column;
   img {
      justify-self: end;
      position: relative;
      top: 20px;
      grid-column: 3/4;
      width: 35px;
      height: 30px;
   }
   grid-area: footer;
   background: rgb(74, 51, 80);
}
.footer__copy {
   grid-column: 2/3;
   padding: 30px 0 0 10px;
   color: #fff;
   font-size: 14px;
}
.footer__text {
}
